<!DOCTYPE html>
<html>
<head>
    <title>mLab MongoDB test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <h2>Database Results getting Orders </h2>
    <ul>
        <% results.forEach(function(r) { %>
        <li>Name: <%= r.name %></li>
        <ul>
            <li>
                Product ID: <%= r._id %>
            </li>
            <li>
                Quantity: <%=r.qty %>
            </li>
            <li>
                Price: <%=r.price %>
            </li>
        </ul>
        <br/><br/>
        <% }); %>
    </ul>
</div>

</body>
</html>

