<!DOCTYPE html>
<html>
<head>
    <title>mLab MongoDB test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h2 style="text-align:center;font-family:Times;font-variant:small-caps;color:#3366FF;">Order successfully received!</h2>

</body>
</html>